
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>



    <p>
      <a class="btn btn-primary btn-lg">Learn more</a>
    </p>
  </div>
</div>


<div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Liste de Produits </h3>
    </div>
    <div class="panel-body">

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Code du Produit </th>
      <th>Libelle</th>
      <th>Prix Unitaire</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of data">
      <td>{{p.code}}</td>
      <td>{{p.libelle}}</td>
      <td>{{p.prixUnitaire}}</td>
    </tr>
  </tbody>
</table>



    </div>
</div>




